---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
$black : #2c2a2a;
$blue : #5476d3;
/*--------------------------------------------------*/
body{
    font-size: 16px;
    padding-top: 70px;
}
.navbar{
    min-height: 0;
    font-size: large;
}
a{
    color: $blue;
    font-weight: 600;
}
.navbar a{
    color: $black;
}
.nav-justified>li>a{
    text-align: left;
}

ul{
    padding-left: 0;
    list-style: none;
}
p, h1, h2, h3, h4, h5, h6, {
    color: $black;
    font-weight: 600 ;
}
